@media screen and (max-width: 600px) {
    /* Styles for screens smaller than or equal to 600 pixels */
    body {
        background-color: white;
    }
}

/* Media query for screens with a minimum width of 601 pixels */
@media screen and (min-width: 601px) {
    /* Styles for screens larger than 600 pixels */
    body {
        background-color: white;
    }
}
*{
    margin:0;
    padding:0;
    
}
.main{
    width:100%;
    background:linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(got.jpg);
    background-position:center;
    background-size:cover;
    height:109vh;
    

}
.navbar{
    width:1200px;
    height: 75px;
    margin: auto;

}
.icon{
    width:200px;
    float:left;
    height:70px;
}
.logo{
    color:transparent;
    font-size:35px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left:0px;
    float:left;
    padding-top: 10px;
    background-image: url(gg.gif);
    
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    transition: 0.2s ease-in-out;
    
}
.logo:hover{
    
    font-size: 40px;
    font-weight:bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor:pointer;
}
.menu{
    width:400px;
    float:left;
    height:70px;

}
ul{
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left:62px;
    
    font-size: 18px;
    margin-top:20px;


}
ul li a{
    text-decoration: none;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color:orange;
    text-transform: uppercase;
    text-decoration: underline;
    
    

}
.search{
    width:330px;
    float:left;
    margin-left:270px;

}

.srch{
    font-family:'Times New Roman', Times, serif;
    width: 200px;
    height:20px;
    background:transparent;
    color:white;
    border:1px solid orange;
    margin-top:13px;
    border-right: none;
    font-size: 16px;
    float:left;
    padding:10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}



.btn{
     width:100px;
     height: 40px;
     background:orange;
     border:2px solid orange;
     margin-top:13px;
     color:white;
     font-size:15px;
     font-family:Comic Sans MS;
     cursor:pointer;
     color:#fff;
     border-color:#18ab29;
     font-weight:bold;
     border-top-left-radius:42px;
     border-top-right-radius:42px;
     border-bottom-left-radius:42px;
     border-bottom-right-radius:42px;
     
     
     background:#44c767;
}
.btn:focus{
    outline: none;
}
.btn:focus{
    outline: none;
}
.btn:hover{
    background: #5cbf2a;
}
.got{
    color:white;
    position:absolute;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    padding-left: 30px;
    padding-top: 30px;
    
    background-size: cover;
    color:white;
    justify-content: space-between;
    justify-content: space-around;
    cursor: pointer;
   
   
}
.got:hover{
    font-size:30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 
    color:orange;
    
}
.par{
    color:white;
    padding-top:0px;
    margin-top: 8%;
    padding-left:30px;
    width:500px;
  
    font-size:15px;
    opacity: 50%;
   

}
.par:hover{
    color:orange;
    font-size:18px;
    opacity: 100%;
}
.gallery-wrap {
    display: flex;
    flex-direction: row;
    
    width: 80%;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,100%);
  
    height: 70vh;
  }
  .item {
    flex: 1;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;
    filter: blur(1.5px);
    border-radius: 25px;
    -webkit-text-fill-color: transparent;
    cursor:pointer;
  }
  .item:hover {
    flex: 7;
    filter: blur(0px);
    border:2px solid rgb(0, 5, 101);
    font-size:25px;
    -webkit-text-fill-color: white;
  }
  .char{
    position:absolute;
    left:50%;
    color:rgb(51, 1, 59);
    transform: translate(-50%,-50%);
    margin-top:20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size:35px;
    -webkit-text-stroke: 0.4px ;
    -webkit-text-stroke-color: white;
  }
  .item-1 {
    background-image: url("dan.jpg");
  }
  
  .item-2 {
    background-image: url("arya.jpg");
  }
  
  .item-3 {
    background-image: url("tyrion.jpg");
  }
  
  .item-4 {
    background-image: url("ww.jpg");
  }
  .item-5 {
    background-image: url("jon.jpg");
  }
  .item-6 {
    background-image: url("robb.jpg");
  }
  .item-7 {
    background-image: url("sansa.jpg");
  }
  .item-8 {
    background-image: url("ned.jpg");
  }
  .item-9 {
    background-image: url("catelyn.jpg");
  }
  .item-10 {
    background-image: url("cersie.jpg");
  }
  .item-11 {
    background-image: url("jammie.jpg");
  }
  .item-12{
    background-image: url("mt.jpg");
  }
  .name{
    color:white;
    position: absolute;
    margin-top: 95%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 30%;
    
  }

  

 /* footer{
 
    background-color:black;
    width: 100%;
    height:200px;
    position: absolute;
    bottom: 0%;
    margin-bottom: -202px;
    color:white;

  }*/
  .nextpage{
    height: 100vh; 
   
    
    background:linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(game.jpg);
    background-size: cover;
    background-position: center;
  }
  .thirdpage{
    height:100vh;
    background:linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%),url(12.jpg);
    background-size: cover;
    background-position: center;
  }
  .cast{
    color:white;
    padding-left: 50%;
    padding-top:6%;
    transform: translate(-0%,-50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 35px;
    text-shadow: 2px 2px 2px  orangered;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Adjust the number of columns as needed */
    gap: 20px;
    margin: 20px;
  }

  .gallery-block {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }

  .gallery-block img {
    width: 100%;
    height: auto;
    display: block;
  }

  .gallery-block:hover {
    transform: scale(1.1);
  }